@{
    ViewData["Title"] = "Home";
}

<div class="home-hero text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 fw-bold mb-2">Welcome to Metric System</h1> 
    <p class="lead mb-4"><b>Easily convert from British system to international metric system.</b></p>
    
</div>
